@import 'http://fonts.googleapis.com/earlyaccess/notosanstc.css';

/***-- 我寫的 -**/
*{
    box-sizing: border-box;
    position: relative;

}

html,body{
    font-family: 'Noto Sans TC', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
a{
    text-decoration: none;
    /* color:rgb(173, 50, 50) ; */
    display: inline-block;
}


.header{
    
    width: 100%;
    min-width:1280px;
    padding:20px 80px ;
    height: 100px;
    vertical-align: top;
    z-index: 500;
    background-color: rgb(244, 244, 52);
    /* border: 10px solid rgb(38, 0, 255); */
    height: 140px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.3);

   
    
}

.logo{
    width:100px;
    height: 100px;
    /* border:3px solid black; */
}
/***-- Navbar -**/
.navbar{
  
    width: 100%;
    display: fixed;

}
.nav-right .nav-link{
    padding:0 8px;
}
.nav-link {
    font-size: 23px;
}
.nav-right .nav-link:after{
    content:'';
    /* display: block; */
    width: 0%;
    height: 2px;
    background-color: #555;
    transition: all 0.3s;
    position:absolute;
    top:50%;
    left:50%;
   transform: translate(-50%,25px);
    
}
.nav-right .nav-link:hover::after{
    width: 100%;
}


/***-- Navbar -**/

/***-- Component -**/


.select_data{
    display: fixed;
    z-index: 400;
}
.btn{
    box-shadow: 5px 10px 20px rgba(0,0,0,0.2);
}

/****card****/
.card{
    width:100%;
    display: inline-block;
    border:2px solid rgb(139, 139, 139);
    transition: all 0.5s;
}
.card:hover{
    top:-15px;
    box-shadow: 5px 15px 20px rgba(0,0,0,0.3);
    

}
.card_font_title{
    font-size: 25px;
  
}

.card_content{
    width:30%;
    /* margin:20px auto; */
  
    
}
.detail{
    font-size: 18px;
}

/****card****/
/***-- Component -**/

.order_image{
    position: relative;
    width:200px;
    height:200px ;
   /* border: 5px solid red; */
   transform: translateX(35%);
    overflow: hidden;
    
}
.image{
   
    position:absolute;
    /* border: 5px solid black; */
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    
    
}
/***-- animation -**/

.mover_anmition{
    /* border: 1px solid red; */
   
    animation:  moveRight 0.5s  forwards;

}
@keyframes moveRight{
    
    0%{
        left: -50%;
        opacity: 0;}
        75%{
            opacity: 0.5;
        }
        
        100%{
            left: 0%;
        }
    }
    .mover_anmition_title{
        animation:  moveRight 0.5s 0.5s backwards;
        
    }
    .mover_anmition_menu{
        animation:  moveRight 0.5s 1s backwards;
        
    }
    /***-- animation -**/
    
/***************-- 我寫的 -**************/
.bgc-1 {
    width: 100%;
    background-size: cover;
    background-image: url('../imge/introduce-bg1.jpg');
}

.bg-2 {
    background-color: azure;
    padding: 60px;
}



.progress {
    width: 250px;
    height: 25px;
    position: fixed;
    top: 500px;
    left: 500px;

    animation: demo1 1s infinite alternate forwards;
}



/* @keyframes demo1 {
    from {
        width: 250px;
    }
    to {
        width: 500px;
    }
}
#navspy {
    
    border-radius:1px; 
} */
.pcolor {
    background-color:cadetblue;
    color: white;
}
/* #navspy button {
    background-color: #459c8d;
}

@media (max-width: 992px) {
    #navspy a.navbar-brand {
        width: 50%;
    }

    #navspy a.nav-link {
        background-color: transparent;
    }
    #navspy button {
        height: 25%;
    }
} */
#navspy a {
    /* color: rgb(255, 255, 255); */
}
.banner-pos {
    position: absolute;
    top: 40%;
    left: -40%;
}
.banner-pos h5 {
    font-size: 5rem;
}
.midd td,
th {
    vertical-align: middle;
    text-align: center;
    border: 0;
}
.midd tr {
    white-space: nowrap;
}
.page-f {
    background: #c3c3c3;
    color: azure;
    padding: 30px;
}
#toTop {
    position: fixed;
    bottom: 20px;
    right: 5px;
    display: none;
    background-image: url(../imge/gotop.png);
    width: 50px;
    height: 50px;
    cursor: pointer;
}
div span {
    font-size: 50px;
}
.scolor {
    /* background-color:#bee5eb; */
    color: white;
    background-color: rgb(30, 119, 160);
}
/* .navbar-nav .active {
    background-color: #0c5460;
} */
/* .fsize {
    line-height: 40px;
    font-size: 20px;
} */
em {
    font-style: normal;
}
/* .pro {
    position: relative;
    width: 100%;
    height: 100%;
} */
/* .spro {
    content: '4444444';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    opacity: 0;
    word-break: break-all;
} */
.spro:hover {
    opacity: 1;
}

.l2d {
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    height: 270px;
    z-index: 1028;
}
.l2d-text {
    opacity: 0;
    width: 220px;
    height: 70px;
    margin: -20px 5px;
    padding: 5px 7px;
    border: 1px solid rgba(224, 186, 140, 0.8);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 15px 2px rgba(191, 158, 118, 0.2);
    font-size: 18px;
    line-height: 20px;
    color: #555;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    padding: 10px;
}
.l2d-tool {
    display: none;
    color: #aaa;
    top: 50px;
    right: 0;
    font-size: 16px;
    position: absolute;
}
.l2d:hover .l2d-tool {
    display: block;
}
.l2d-tool span {
    display: block;
    cursor: pointer;
    color: #5b6c7d;
    line-height: 22px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.l2d-tool .fa-comments {
    font-size: 19px;
}
.l2d-tool .fa-home,
.l2d-tool .fa-info-circle {
    font-size: 20px;
}
.l2d-tool .fa-street-view,
.l2d-tool .fa-close {
    font-size: 22px;
}
.l2d-tool span:hover {
    color: #34495e;
}
.l2d #live2d {
    position: absolute;
    left: 3%;
    bottom: 0;
    cursor: move;
}
@media screen and (max-width: 530px) {
    .l2d_xb {
        pointer-events: none;
        display: none !important;
    }
    .l2d-text,
    .l2d-tool {
        display: none !important;
    }
    .l2d #live2d {
        display: none !important;
    }
}
.blurbg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    filter: blur(5px);
    min-height: 1600px;
    min-width: 100%;
    left: 0px;
    position: fixed;
    right: 0px;
    z-index: -1;
    -webkit-filter: blur(5px);
}

/* ..... */
